/*------------------------------------*\
  $RESET
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
  $SPECIAL
\*------------------------------------*/

.hidden{
  display:none;
}

a{
  color:inherit;
  text-decoration: none;
}

/*------------------------------------*\
  $LAYOUT
\*------------------------------------*/
body{
  background-color:#343C41;
}

body.good-time{
  background-color:#C0D951;
}

body.medium-time{
  background-color:#FFD700;
}

body.bad-time{
  background-color:#E11600;
}

.container{
  width:900px;
  margin:0 auto;
}

.new-button{
  width:150px;
  height:150px;  
}

.start-button{
  width:180px;
  height:180px;
}

.new-button, .start-button{
  border-radius:100px;
  background-color:#91B540;
}

.new-button, .start-button, .task{
    margin:100px auto 0 auto;
}

.task-list__completed, .task-list__failed{
  margin-top:2em;
}

.task-list__completed__list, .task-list__failed__list{
  padding-top:1em;
}

/*------------------------------------*\
  $TYPE
\*------------------------------------*/

.good-time .back-button{
  color:#687C10;
}

.back-button{
  color:#B2B7B8;
  font-size:32px;
  padding-top:0.5em;
}

.done-button{
  background-color: black;
}

.start-button{
  display:none;
}

.new-button__text, .start-button__text{    
  font-size: 56px;  
}

.new-button__text-container{
  padding-top:26%;
}

.start-button__text-container{
  padding-top:29%;
}

.new-button__text-container, .start-button__text-container{
  text-align: center;
}

.new-button__text,
.start-button__text,
.task__title,
.task-list__completed__list__task-other-actions,
.task-list__failed__list__task-other-actions,
.task-list__completed__heading,
.task-list__failed__heading,
.task__time .active,
.task-list__completed__list__task__action a,
.task-list__failed__list__task__action a{
  color:white;
}


.new-button__text, .start-button__text, .task__title{
  font-family: "jaf-bernino-sans-condensed";  
  font-weight: 400;
  text-align:center;
  text-transform:uppercase;
  text-decoration: none;
}

.task__title{
  font-size:48px;
}

.good-time .task__time{
  color:#B8CE77;
}

.medium-time .task__time{

}

.bad-time .task__time{
  
}

.task__time{
  color:#B2B7B8;
  font-size:120px;
  font-family:"alternate-gothic-no-3-d";
  height:143px;
  text-align:center;
  letter-spacing:0.025em;
  text-transform:uppercase;

}

.task__time span{
  float:left;
}

.task__time .hour{
  padding-left:270px;
}

.task-list__completed__heading, .task-list__failed__heading{
  font-size:40px;
  font-family: "jaf-bernino-sans-condensed";
  text-transform: uppercase;
}

.task-list__completed__list, .task-list__failed__list{
  font-family: "alternate-gothic-no-3-d";
  font-size:24px;
  text-transform: uppercase;
}

.task-list__completed__list__task, .task-list__failed__list__task{
  display:block;
  margin-bottom:1em;
}

.task-list__completed__list__task__action, .task-list__failed__list__task__action{
  display:inline;
}

.task-list__completed__list__task__created-at, .task-list__failed__list__task__created-at{
  color:#E3E7F1;
  float:right;
  display:inline;
}

.task-list__completed__list__task-other-actions,
.task-list__failed__list__task-other-actions{
  margin-top:1em;
}

.task-list__completed__list__task-other-actions__do-it-again,
.task-list__failed__list__task-other-actions__do-it-again,
.task-list__completed__list__task-other-actions__delete,
.task-list__failed__list__task-other-actions__delete{
  padding: 0.3em 0.8em;
  margin-right:0.5em;
  font-size:0.8em;
  border-radius: 5px;
}

.task-list__completed__list__task-other-actions__delete,
.task-list__failed__list__task-other-actions__delete{
  background-color: #D73F3A;
}

.task-list__completed__list__task-other-actions__do-it-again,
.task-list__failed__list__task-other-actions__do-it-again{
  background-color: #B8CE77;
}
/*------------------------------------*\
  $LISTS
\*------------------------------------*/

li{
  list-style-type: none;
}

/*------------------------------------*\
  $EDITABLE
\*------------------------------------*/

:focus{
  outline:none;
}