.action-button{
  margin:100px auto 0 auto;
  border-radius:100px;
  background-color:#91B540;
}

.back-button{
  color:#B2B7B8;
  font-size:32px;
  padding-top:0.5em;
}

.good-time .back-button{
  color:#687C10;
}